{% extends 'website/app_layout.html' %}
{% load static %}
<!--TODO Update photos and descriptions. Expand blocks.
-->
{% block content %}

<div class="section section-default py-5">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h1 class="heading">Cafe Lounge</h1>
            <p class="sub-text">Want a nice place to just relax and enjoy a cup of brew while you work or hang out as
            friends and family climb? We got your covered. We brew Nopal Coffee in house along with several other
            treats within a nice lounge to enjoy it at. Come relieve some stress in our lounge and enjoy the lighter
            side of our gym.</p>
        </div>
    </div>
</div>
{% endblock %}
