{% load static %}
{% if request.session.first_name %}
<a href="{% url 'homepage' %}" class="option-link"> {{request.session.first_name}} </a>
{% if request.session.is_guide%}
    <a href="{% url 'guide_price' %}" class="option-link"> Update Info</a>
{% endif%}
<a href="{% url 'logout' %}" class="option-link"> Logout </a>
{% else %}
<a href="{% url 'login' %}" class="option-link"> Login </a>
{% endif %}
<a href="{% url 'under_construction' %}" class="option-link">Memberships</a>
<a href="https://www.youtube.com/channel/UCRkbBs5059f3nKYXuXp7ddw?sub_confirmation=1" class="option-link">Subscribe</a>
<a href="{% url 'under_construction' %}" class="option-link">Online Waiver</a>
<!-- TODO: link to our new reservation system } -->
<a href="{% url 'hoeco_homepage' %}" class="option-link">Hueco Tanks Tours</a>
