{% load static %}
<ul class="header-menu">
    <li><a href="{% url 'climbing' %}" class="menu-link">Climbing</a></li>
    <li><a href="{% url 'yoga_fit' %}" class="menu-link">Yoga & Fitness</a></li>
    <li><a href="{% url 'youth_programs' %}" class="menu-link">Youth Teams</a></li>
    <!--  TODO: update tours link to in house app  -->
    <li><a href="{% url 'under_construction' %}" class="menu-link">ODR Tours</a></li>
    <li><a href="{% url 'events' %}" class="menu-link">Events</a></li>
    <li><a href="{% url 'under_construction' %}" class="menu-link">Calendar</a></li>
    <li><a href="{% url 'cafe_lounge' %}" class="menu-link">Cafe Lounge</a></li>
    <li><a href="{% url 'catalog' %}" class="menu-link">Buy Gear</a></li>
    <li><a href="{% url 'about_us' %}" class="menu-link">About us</a></li>
    <li><a href="{% url 'homepage' %}#contactus" class="menu-link">Contact</a></li>
</ul>
