{% load static %}
<div class="container mt-3">
         <div class="row">
             <div class="col-md-12 mb-5">
             <!-- Swiper for staff photos -->
             <div class="swiper-container meet-our-team">
                 <div class="swiper-wrapper">
                 <div class="swiper-slide card polaroid">
                         <div class="p-3 team-block">
                             <img src="{% static 'images/team/albert.jpg' %}" alt="" class="team-img">
                             <p class="team-info">Albert Alvarez<br>GENERAL<br>MANAGER</p>
                         </div>
                 </div>
                 <div class="swiper-slide card polaroid">
                         <div class="p-3 team-block">
                             <img src="{% static 'images/team/stephen.jpg' %}" alt="" class="team-img">
                             <p class="team-info">Stephen Kirk<br>HEAD<br>ROUTE SETTER</p>
                         </div>
                 </div>
                 <div class="swiper-slide card polaroid">
                         <div class="p-3 team-block">
                             <img src="{% static 'images/team/liz.jpg' %}" alt="" class="team-img">
                             <p class="team-info">Liz Soto</p>
                             <p class="team-info">OUTDOOR RECREATION<br>MANAGER</p>
                         </div>
                 </div>
                 </div>
                 <!-- Add Arrows -->
                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>
             </div>
             </div>
         </div>
    </div>
