{% extends 'website/app_layout.html' %}
{% load static %}

{% block content %}
<div class="section section-default py-5">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h1 class="heading">We are working hard!</h1>
            <p class="sub-text"> Thank you for visiting! Our developers are working diligently to bring the most
            up to date features to our website. If you've reached this page it's because this part of the site
            is still under construction or hasn't been scheduled for release yet. Below is a list of features that
            are in development or that will be released in the future as we get closer to our grand opening:</p><br>
            <ol class="sub-text" style="justify-content: center">
                <li>Membership Page</li>
                <li>Online Waivers</li>
                <li>Hueco Tanks Tours Bookings</li>
                <li>Blog</li>
                <li>Special Events Page</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}
