{% extends 'website/app_layout.html' %}
{% load static %}

{% block content %}
<div class="section section-bg-shop">
    {% include 'shop/shop-nav-bar.html' %}
</div>
<div class="section section-main-box">
    <div class="row">
        <div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block theme2-btn" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<div id="paypal-button-container"></div>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark theme-btn" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ item.product.image_url }}" alt=""></div>
					<div style="flex:2"><p>{{ item.product.name }}</p></div>
					<div style="flex:1"><p>${{ item.product.price | floatformat:2 }}</p></div>
					<div style="flex:1"><p>x{{ item.quantity }}</p></div>
				</div>
				{% endfor %}
				<h5 class="shop-heading">Items:   {{ order.get_cart_items }}</h5>
				<h5 class="shop-heading">Total:   ${{ order.get_cart_total | floatformat:2 }}</h5>
			</div>
		</div>
    </div>
</div>
<!-- Paypal Integration -->
<!-- TODO: updated to live token when deploying -->
<!-- Sandbox Token: AehT6ZUfCNAQnvo0iigop5PWUSnaeIBEsfPADkMZyq1DeUasjEfP2MQ_JZ6p0cc10C-hMTTj9ziASce- -->
<!-- Dev Token: AAcU9dg5tu5RPVPq9FUjlHrqeeV4KuCWdhnNdahM3rsOWbirQrD98GqCt1C_aNKAGUcg5lsEvyAahsKKW -->
<script src="https://www.paypal.com/sdk/js?client-id=AehT6ZUfCNAQnvo0iigop5PWUSnaeIBEsfPADkMZyq1DeUasjEfP2MQ_JZ6p0cc10C-hMTTj9ziASce-&currency=USD&disable-funding=credit"></script>
<script>
    // Custom total from items.
    const total = '{{ order.get_cart_total | floatformat:2 }}'

    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Add custom button styles
        style: {
            shape: 'pill'
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer and call method to
                // finalize in backend.
                submitFormData()
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script>

<!-- Checkout Script -->
<script type ='text/javascript'>
    // Define constants for script.
    const shipping = '{{ order.shipping }}'
    const form = document.getElementById('form')


    // Allow user to add shipping info if any item in cart needs to be shipped.

    if (shipping === 'False') {
        document.getElementById('shipping-info').innerHTML = ''
    }

    // Checks to see if user is logged in. If not logged in, user info is blank.
    if (user !== 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }

    // If user is logged in and only digital items, display payment button and hide
    // user info.
    if (shipping === 'False' && user !== 'AnonymousUser') {
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden')
    }

    // Once shipping info is added, allow user to view payment options.
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        console.log('Form submitted....')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })


    // Function to push user data to the back end of the system.
    function submitFormData() {
        console.log('Payment Button Clicked.')

        let userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        let shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
        }

        // Update shipping information
        if (shipping !== 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        // Update User information if user is not logged in.
        if (user === 'AnonymousUser') {
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        console.log('Shipping Info:', shippingInfo)
        console.log("User info: ", userFormData)

        let url = '/shop/process_order'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo}),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);

            // Clear cart once payment must pushed
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
            window.location.href = '{% url 'catalog' %}'
        })
    }
</script>
{% endblock %}
