{% extends 'website/app_layout.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
<div class="container-fluid ">
    <div class="row d-flex justify-content-center" >
            <div class="card widget-flat">
                <div class="card-body bg-light">
                    <div class="subtitle mb-2 pt-2" style="text-align: center;">
                        {{data}}
                        {% if title %}
                        <h2 class="mb-2" style="color: #080d2b; margin-top: -25px;">{{ title }}</h2>
                        {% else %}
                        <h2 class="mb-2" style="color: #080d2b; margin-top: -25px;">Update Your Info</h2>
                        {% endif %}
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <form method="POST" >
                        {% csrf_token %}

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="priceType">Price Type</label>
                                    <select class="form-control" id="priceType" name="priceType">
                                        <option>fix</option>
                                        <option>negotiable</option>                       
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                        <label for="fix">Fix Price</label>
                                        <input type="Number" class="form-control" id="fix" placeholder="Enter 0 if negotiable" name = "fix" >
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="variable">Variable Price</label>
                                        <input type="Number" class="form-control" id="variable" placeholder="Enter 0 if negotiable" name = "variable">
                                </div>
                            
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="location">Location</label>
                                    <input type="text" class="form-control" id="location" name="location" placeholder="Guide Location" >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="introduction">Breif Yourself</label>
                                    <textarea class="form-control" id="introduction" name="introduction" placeholder="Tell me something about yourself" rows="3" ></textarea>

                                </div>
                            </div>

                            </br>
                         <input type = "button" onclick = "submitFormData()" value = "Submit"> 
                            <script>
                                // Function to push user data to the back end of the system.
                                function submitFormData() {
                                    let url = 'updateInfo'
                                    fetch(url, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': csrftoken
                                        },
                                        body: JSON.stringify({'guide_id': {{data}}}),
                                    })
                                    .then((response) => response.json())
                                    .then((data) => {
                                        console.log('Success:', data);
                                        window.location.href = '{% url 'login' %}'
                                    })
                                }
                            </script>

                        </form>
                </div>
                <div align="center">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}