{% extends 'user/user_base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block user_content%}

<form method="POST" >
  {% csrf_token %}

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
	<div class="form-row">
		<label for="inputPassword4"><a href=#>Forgotten Password </a></label>
	</div>
	</br>
  <button class="btn btn-primary" type="submit">Login</button>
</form>

{% endblock %}