{% extends 'website/app_layout.html' %}
{% load static %}

{% block content %}
<div class="section section-bg-reserve">
    {% include 'events/events-nav-bar.html' %}
</div>
<div class="section section-main-box">
    <div class="row">
        <div class="col-sm-12 justify-content-center">
            <h3 class="heading-reserve">Below is a list of upcoming events!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <table class="table">
					<tr>
                        <td class="tour-heading" style="width: 10%"><strong>Event Date</strong></td>
                        <td class="tour-heading" style="width: 10%"><strong>Start Time</strong></td>
                        <td class="tour-heading"><strong>Event Title</strong></td>
					</tr>
                    {% for event in events %}
                    {% if event.date_time.date >= today %}
                    <tr>
                        <th class="tour-listing">{{ event.date_time.date }}</th>
                        <th class="tour-listing">{{ event.date_time.time }}</th>
                        <th class="tour-listing">
                            <a href="{% url 'event_view' event_id=event.id %}">{{ event.title }}</a>
                        </th>
                    </tr>
                    {% endif %}
                    {% endfor %}
				</table>
            </div>
        </div>
    </div>
<div class="row">
        <div class="col-sm-12 justify-content-center">
            <h3 class="heading-reserve">Below are events that have already past!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element justify-content-center">
                <table class="table justify-content-center">
					<tr>
                        <td class="tour-heading" style="width: 10%"><strong>Event Date</strong></td>
                        <td class="tour-heading" style="width: 10%"><strong>Start Time</strong></td>
                        <td class="tour-heading"><strong>Event Title</strong></td>
					</tr>
                    {% for event in events %}
                    {% if event.date_time.date < today %}

                    <tr>
                        <th class="tour-listing">{{ event.date_time.date }}</th>
                        <th class="tour-listing">{{ event.date_time.time }}</th>
                        <th class="tour-listing">
                            <a href="{% url 'event_view' event_id=event.id %}">{{ event.title }}</a>
                        </th>
                    </tr>

                    {% endif %}
                    {% endfor %}
				</table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
